body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

nav {
  background-color: black;
  display: flex;
  justify-content: center;
  position: sticky; top:0;
  height: 65px
}

nav a {
  margin-left: 5px;
}

.nav-profile {
  margin-left: auto;
}

.sign-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  gap: 10px;
}

.up {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0;
  height: 80%;
  width: 350px;
  border-radius: 12px;
  background-color: white;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.in {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0;
  height: 50%;
  width: 350px;
  border-radius: 12px;
  background-color: white;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.input-wrapper input {
  border: 2px solid black;
  height: 34px;
  width: 260px;
}

.b-in {
  border-radius: 30px;
  width: 200px;
  height: 30px;
  transition: background 0.3s;
  border: none;
  background-color: black;
  color: white;
  transition: background 0.3s;
}
.b-in:hover {
  background-color: darkgray;
}

.user-profile-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #A6A6A6;
}

.user-profile-container img {
  width: 30%;
  border-radius: 100%;
}

.user-profile {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 20%;
}

.listings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: 60%;
}
.profile-lists-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66.8%;
}

.profile-lists-toggle button {
  width: 30%;
}

.test img {
  display: block;
  border-radius: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.logs-container{
  display: flex;
  flex-direction: column;
  width: 60%;
  background: #D9D9D9;
  justify-content: space-between;
  align-items: center;
}

.log {
  background-color: #F2F2F2; 
  width: 97%;
  display: flex;
  flex-direction: row;
  align-items: center; 
  height: 100px;
  margin: 20px 0 0 0;
  border-radius: 10px;
}

.log img{
  border-radius: 100%;
  width: 15%;
  transform: scale(3);
}
.Received-img{
  transform: rotate(180deg);
}

.symbol-date{
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.price-status{
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.status-Received{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 25%;
  background-color: #d9f7ea;
  color: #40d198;
  border-radius: 10px;
}

.status-Sell{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 25%;
  background-color: #ff5757;
  color: #ff3d3b;
  border-radius: 10px;
}
.symbol{
  height: 100%;
}

